@using WebApplication1.Models
@using WebApplication1.Models.Dto
@model List<TeamDto>
@section Scripts
	{
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

	<script>
		$(document).ready(function() {
			$('#example').DataTable();
		});
	</script>
}
	<body>
		<h1>Moast points conceded:</h1>


		<table id="example" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var team in this.Model)
			{
				<tr>
					<td>@team.Id</td>
					<td>@team.Name</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<th>Id</th>
				<th>Name</th>
			</tr>
		</tfoot>
	</table>
</body>
